@media only screen and (max-width: 1024px) {
  main {
    flex-direction: column;
    max-width: 1200px;
  }
  .header-icon img {
    width: 150px;
    height: auto; 
  }
  .gradient-header {
    font-size: 2.4rem;
    margin-top: 0px;
  }
  nav {
    display: none;
    width: 100%;
    position: static;
    height: fit-content;
    margin-top: 0px;
  }
  nav ul li .item {
    gap: 10px;
    padding: 10px;
    font-size: 13px;
  }
  nav li .child-item li {
    font-size: 12px;
  }
  .main-content {
    margin-left: 0px;
    margin-top: 0px;
    padding: 1.6rem;
  }
  .mobile-dropdown {
    display: flex;
  }
  th,
  td {
    padding: 5px;
  }
  header {
    padding: 5px 10px;
  }
  header .head-body .top-nav .top-nav-li {
    display: none;
  }
}

@media (max-width: 768px) {
  .bt-grad {
    font-size: 14px;
    padding: 4px 15px;
  }

  .sub-footer {
    padding-top: 15px;
    padding-bottom: 50px;
  }

  .sub-footer h2 {
    font-size: 35px;
    line-height: 50px;
  }

  .sub-footer h1 {
    font-size: 28px;
  }

  .sub-footer p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 35px;
  }

  .app-store-button img {
    width: 175px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px;
  }

  .footer-links {
    margin-top: 20px;
    gap: 30px;
    justify-content: space-between;
  }
  .footer-column h4 {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .footer-logo {
    margin-bottom: 0px;
  }
  .footer-logo img {
    width: 150px;
  }

  .footer-column ul li a{
    font-size: 14px;
  }

  .footer-column ul li {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  /* table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin-bottom: 15px;
  }
  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    content: attr(data-label);
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    color: #ffffff;
  } */
}
