@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  background-color: #161616;
  color: #ffffff;
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
}

header {
  width: 100%;
  padding: 25px 15px;
  border-bottom: 1px solid #474747 ;
  position: fixed;
  background: #161616;
}

main {
  display: flex;
  max-width: 1300px;
  margin: auto;
  padding: 25px 0px;
}

nav {
  display:block;
  width: 400px;
  height: 100vh;
  position: fixed;
  margin-top: 50px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
nav ul li.menu-list {
  border-bottom: 1px solid #474747 ;
}
nav ul li .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.50px;
  transition: all ease-out 250ms;
  cursor: pointer;
}

nav ul li .item div {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

nav ul li .item div p {
margin: 0px;
}

nav li .item i {
  color: #ffffff;
}

nav li .item a {
  text-decoration: none;
  color: #ffffff;
}

nav li .item:hover a {
  color: #009ff3;
}

nav li .item:hover p {
  color: #009ff3;
}

nav li .child-item {
  padding: 0px;
  margin-left: 35px;
  margin-bottom: 20px;
  list-style: decimal;
}

nav li .child-item li {
  padding: 5px 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.50px;
  transition: all ease-out 250ms;
  cursor: pointer;
}

nav li .child-item li a {
  text-decoration: none;
  color: #dadada;
}

.main-content {
  margin-left: 400px;
  margin-top: 50px;
  width: 100%;
}

section {
  margin: 0;
  padding: 2rem;
}

.active-parent {
  color: #009ff3 !important;
}

.active-child {
  color: #53bef8 !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.mobile-dropdown {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #474747 ;
  color: #B4B4B4;
  padding: 0px 18px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  transition: all ease-out 250ms;
  cursor: pointer;
  margin-top: 45px;
}

.mobile-dropdown i{
  font-size: 20px;
}